#top {
    background-color: coral;
    color: cyan;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 45px;
    font-style: italic;
    
}

body {
    background-color:aliceblue;
}


#content {
    width: auto;
    font-size: x-large;
    color: mediumvioletred;
    
}

#apps {
    text-align:center;   
    font-size: x-large;
    text-decoration: none;
}

#apps a:hover {
        color: red;
        font-family:'Bookman Old Style';
        
      
}



#bottom {
    font-size: x-large;
    color: mediumvioletred;
    width:auto;
}

    #bottom a:hover {
        color: red;
        background-color: greenyellow;
        font-family: 'Bookman Old Style';
    }

.row {
    margin-bottom:3px;
   
}

 

.row > div {
        border: 1px solid blue;
        background-color:aquamarine;
        padding:5px;
        margin:15px;

}



  

#footer {
    background: #ccc;
    margin: 20px;
    text-align: center;
    clear: both;
}



